<html>
  <head>
    <!-- datepicker jquery -->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <!-- timepicker jquery -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.min.css.map">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.min.js"></script>

    <!-- datepair.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepair.js/0.4.15/datepair.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepair.js/0.4.15/datepair.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepair.js/0.4.15/jquery.datepair.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepair.js/0.4.15/jquery.datepair.min.js"></script>

    <script>
    window.$ = jQuery;
    $(function() {
        $('.datepicker').datepicker();
    });
    </script>

    <!-- basicExample jqurey.timepicker -->
    <script>
        $(function() {
            $('#basicExample').timepicker();
        });
    </script>
  </head>
  <body>
    <form method="POST" class="post-form">{% csrf_token %}
      Start Date:{{ form.start_date }}&nbsp;&nbsp; End Date:{{ form.end_date }}<br/><br/><br/><br/><br/><br/><br/><br/>


      <p id="datepairExample">
        {{ form.horaInicio }} to
        {{ form.horaFin }}
          <!--<input class="time start ui-timepicker-input" autocomplete="off" value="8:00am" type="text"> to
          <input class="time end ui-timepicker-input" autocomplete="off" value="8:15am" type="text">-->
      </p>
      <button type="submit" class="save btn btn-default"> Save </button>
    </form>

    <script>
        $('#datepairExample input').timepicker({
            'showDuration': true,
            'timeFormat': 'g:ia',
            'step' : 15,
            'minTime' : '8:00 am',
            'maxTime' : '6:00 pm',
            'disableTimeRanges' : [
              ['12:00','15:00 '],
              ['09:00 am','09:31 am']
            ]
        });
        $('#datepairExample').datepair();

    </script>

  </body>
</html>
