{% extends 'aplicacionTurnos/baseABM.html' %}
{% load widget_tweaks %}
{% load bootstrap %}



<!--cargo el buscador con el href y el placeholder que corresponda -->
  {% block buscadorHref %}{% url 'aplicacionTurnos.views.busquedaTratamiento' %}{% endblock%}
  {% block buscadorPlaceHolder %}Buscar Tratamiento{% endblock %}
<!-- fin carga href y placeholder -->
<!-- cargo el mensaje que ira en aviso cuando se intente borrar y la url para borrar -->
  {% block borrarConfirmacionMensaje %}Esta seguro que quiere borrar el tratamiento{% endblock %}
  {% block borrarConfirmacionHref%}/eliminarTratamiento/{% endblock %}
<!-- fin carga mensaje y href(url) -->

        {% block ABM %}
            <h2>Tratamiento</h2>
            <form method="POST">
              {% csrf_token %}
              {% form_input form.nombre %}
              {% form_input form.duracion %}
              {% form_input form.precio %}
              <div class="pull-right">
                <input type="submit" class="btn btn-success" value="Guardar"/>
              </div>
            </form>
            {% endblock%}

    {% block tablas %}
        <table class="table table-hover sortable">
          <font size=5><h1 align=center>Tratamientos</h1></font>
            <tr>
                <th class="warning">Tratamiento</th>
                <th class="warning">Duracion</th>
                <th class="warning">Precio</th>
                <th class="warning sorttable_nosort">Editar</th>
                <th class="warning sorttable_nosort">Eliminar</th>
            </tr>
            {% for tratamiento in tratamientos %}
                </tr>
                    <td class="success">{{tratamiento.nombre}}</td>
                    <td class="success">{{tratamiento.duracion}}</td>
                    <td class="success">{{tratamiento.precio}}</td>
                    <td class="success"><a href="{% url 'aplicacionTurnos.views.editarTratamiento' pk=tratamiento.pk %}"><i class="fa fa-pencil fa-2x" aria-hidden="true"></i></a></td>
                    <td class="success"><a href="javascript:borrarConfirmacion({{tratamiento.pk}},'{{tratamiento}}')"><i class="fa fa-trash fa-2x" aria-hidden="true"></i></a></td>
                </tr>
            {% endfor %}
          </table>
    {% endblock %}
